.Menu {
  color: #ffffff;
  padding: 0% 2%;
  width: 20%;
}

.Menu-header {
  font-size: 2.15em;
  padding: 10% 2%;
}

.Menu-header-span {
  color: #ffae03;
}

.Menu-ul {
  list-style: none;
  font-size: 1.5em;
}

.Menu-li {
  align-items: center;
  display: flex;
  margin: 10% 2% 18% 2%;
}

.Menu-li-span {
  font-size: 1.5em;
  margin-right: 10%;
}

.Menu-li:hover,
.Menu-li-span:hover {
  background-color: #ffae03;
  border-radius: 0px 75px 75px 0px;
  cursor: pointer;
}
