.SearchForm {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.SearchForm-input {
  background-color: #141527;
  border: none;
  color: #ffffff;
  font-size: 1.5em;
  height: 1.5em;
  width: 300px;
}

.SearchForm-button {
  background-color: #b569f1;
  border: none;
  border-radius: 75px;
  color: #ffffff;
  font-size: 1.5em;
  height: 55px;
  width: 225px;
}
